.ProjectCard {
  height: 350px;
  width: 600px;
  flex-grow: 1;
  flex-shrink: 0;
  
  background-color: var(--project-blue);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.ProjectCard__Figure {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ProjectCard__Image {
  height: 100%;
  object-fit: cover;
}

.ProjectCard__Description {
  padding: var(--box-padding);

  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.ProjectCard__Title {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  transition: 1s;
}

@media screen and (max-width: 950px) {
  .ProjectCard {
    height: 600px;
    width: 400px;
    flex-direction: column;
  }

  .ProjectCard__Figure {
    height: 65%;
    width: 100%;
  }

  .ProjectCard__Image {
    width: 100%;
  }

  .ProjectCard__Description {
    height: 35%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}