.Sidebar {
  height: 100dvh;
  padding: 10px 1rem;
  background-color: #1C2135;
  position: absolute;
  align-self: self-start;
  color: #e4eee3;
  right: -15rem;
  top: 0;
  transition: .5s;
  z-index: 2;
  box-shadow: 0px 0px 5px #212221;
}

.Sidebar__Active {
  right: -3px;
}

.Sidebar__Button {
  display: none;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .5s;
}

.Sidebar__Button:hover {
  filter: drop-shadow(0px 0px 5px #21222111);
}

.Sidebar__Button > img {
  height: 100%;
}

.Sidebar li {
  position: relative;
  list-style: none;
  margin: 1rem;
  width: 10rem;
  letter-spacing: .25rem;
}

.Sidebar__Menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

@media screen and (max-width: 670px) {
  .Sidebar__Button {
    display: flex;
  }
}

@media screen and (min-width: 670px) {
  .Sidebar {
    display: none;
  }
}