.Cert {
  transition: 1s;
}

.Cert__Summary {
  height: 300px;
  width: 300px;
  cursor: pointer;
  transition: 1s;
  list-style: none;

  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cert details[open] .Cert__Article {
  animation: showArticle .5s ease-out;
}

.Cert__Summary::-webkit-details-marker,
.Cert__Summary::marker {
  display: none;
}

.Cert__Summary:hover .Cert__Image{
  height: 100%;
}

.Cert__Image {
  height: 90%;
  object-fit: contain;
  object-position: center;
  transition: 1s;
}

.Cert__Article {
  width: 300px;
  float: left;
  padding: var(--box-padding);
  transition: margin .5s ease-out;

  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.Cert__Title {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.Cert__Subtitle {
  font-style: italic;
  font-size: 1rem;
  margin-left: 1.25rem;
}

.Cert__Article li {
  margin-left: 1.25rem;
}

@media screen and (max-width: 750px) {
  .Cert {
    width: 300px;
  }
}

@keyframes showArticle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}