.Introduction {
  height: 100%;
  width: 100%;
  padding: var(--page-padding);
  background-color: var(--project-gray);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Introduction__Figure {
  height: 60%;
  transition: .5s;
}

.Introduction__Image {
  border-radius: 50%;
  height: 100%;
}

.Introduction__Summary {
  padding: var(--box-padding);
  width: 50%;
  color: var(--project-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.Introduction__Summary > h1 {
  font-size: clamp(3rem, 5vw, 5rem);
  letter-spacing: .5rem;
  transition: 1s;
}

.Introduction__Summary > p {
  font-size: clamp(1rem, 3vw, 1.25rem);
}

@media screen and (max-width: 870px) {
  .Introduction {
      flex-direction: column;
  }

  .Introduction__Figure {
      height: 45%;
      width: 80%;
      display: flex;
      justify-content: center;
  }
  .Introduction__Image {
      height: 100%;
  }

  .Introduction__Summary {
      height: 40%;
      width: 90%;
      padding: 0;
  }

  .Introduction__Summary > h1 {
      text-align: center;
  }
  
}