.Icon {
  min-height: 100px;
  width: 100px;
  text-align: center;
  transition: 1s;
}

.Icon__Figure {
  height: 100px;
  width: 100px;
}

.Icon__Image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.Icon__Title {
  margin-top: .25rem;
  font-weight: bold;
  text-align: center;
}