.Icon {
  min-height: 100px;
  min-width: 100px;
  text-align: center;
  transition: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Icon__Figure {
  height: 100px;
  width: 100px;
  transition: 1s;
}

.Icon__Image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.Icon__Title {
  margin-top: .25rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px){
  .Icon {
    min-height: 50px;
    width: 50px;
  }

  .Icon__Figure {
    height: 50px;
    width: 50px;
  }
  
}