.Values {
  min-height: 100dvh;
  width: 100%;
  padding-top: 70px !important;
  padding: var(--page-padding);

  background-color: var(--project-light-blue);
  color: var(--project-white);
}

.Values__Container {
  padding: var(--box-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 1rem;
}

.Values__Title {
  font-size: clamp(2.5rem, 5vw, 3rem);
  transition: 1s;
}