.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.Navbar > span {
  position: relative;
}

@media screen and (max-width: 670px) {
  .Navbar {
      display: none;
  }
}