.Carousel {
  width: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Carousel__Figure {
  width: 90dvw;
  overflow: hidden;
  display: flex;
  align-items: center;
  aspect-ratio: 16/9;
}

.Carousel__Image {
  min-height: 80dvh;
  min-width: 100%;
  object-fit: contain;
  transition: 1s ease-in-out;
}

.Carousel__Dashes {
  height: fit-content;
  width: 90dvw;
  display: flex;
  justify-content: space-evenly;
}

.Carousel__Dash {
  flex-grow: 1;
  float: left;
  height: .5rem;
  margin: .25rem;
  background-color: var(--project-white);
  border-radius: 1rem;
  transition: .25s;
  border: .5px var(--project-white) solid;
}

.Carousel__Dash:hover {
  background-color: var(--project-light-purple);
}

.Carousel__Dash_Active {
  background-color: var(--project-purple);
}