:root {
  --project-white: #F4EEE3;
  --project-gray: #434443;
  --project-purple: #846BCA;

  --project-blue: #8794C0;
  --project-light-blue: #5A6794;
  --project-dark-blue: #1C2135;

  --box-padding: 1rem 1.25rem;
  --page-padding: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100dvw;
  height: 100dvh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  scroll-behavior: smooth;

  background-color: var(--project-dark-blue);
}

a {
  text-decoration: none;
  color: inherit;
}

.no-select, button {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}