:root {
  --project-white: #F4EEE3;
  --project-gray: #434443;
  --project-dark-gray:  #323332;
  --project-purple: #846BCA;

  --project-light-blue: #8794C0;
  --project-blue: #5A6794;
  --project-dark-blue: #1C2135;

  --box-padding: 1rem 1.25rem;
  --page-padding: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body { /* Im removing this because it makes an x overflow*/
  /* width: 100dvw;
  height: 100dvh; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  scroll-behavior: smooth;

  background-color: var(--project-dark-blue);
  scrollbar-color: var(--project-light-blue) var(--project-gray);
  scrollbar-arrow-color: var(--project-light-blue);
}

::-webkit-scrollbar {
  width: 1rem; /* Mostly for vertical scrollbars */
  height: 1rem; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--project-light-blue);
}

::-webkit-scrollbar-track { /* Background */
  background: var(--project-gray);
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-select, button, img, summary {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}