.NotFound {
  height: 100%;
  width: 100%;

  background-color: var(--project-dark-gray);
  color: var(--project-white);
  padding: var(--page-padding);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.NotFound__Title {
  font-size: clamp(3rem, 5vw, 5rem);
  transition: 1s;
}

.NotFound__Subtitle {
  font-size: clamp(1rem, 3vw, 1.25rem);
  transition: 1s;
}

.NotFound__Message {
  letter-spacing: .5rem;
}

.NotFound__CTA {
  padding: var(--box-padding);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
}

.NotFound__CTA:hover {
  text-decoration: underline;
}